---
# tasks file for payment
- name: Ensuring roboshop user exists.
  user:
    name: roboshop
#        shell: /bin/bash
#        home: /home/roboshop
    state: present
  register: roboshop_user

- name: Gathering roboshop user's facts (UID/GID) for configuration.
  getent:
    database: passwd
    key: roboshop
  register: roboshop_user_info
  # UID is roboshop_user_info.ansible_facts.getent_passwd.roboshop[2]
  # GID is roboshop_user_info.ansible_facts.getent_passwd.roboshop[3]

- name: Installing dependencies including python3 (or python36), gcc, python3-devel.
  dnf:
    name:
      # Try changing 'python36' to 'python3' if python36 is unavailable.
      # If the system is RHEL/CentOS 7, it might be 'python36' or 'python3-pip' or require 'epel-release'.
      - python3
      - gcc
      - python3-devel
      - python3-pip
    state: present

- name: Downloading the application content from the Github. And extracting the application content.
  unarchive:
    src: https://github.com/rshaik4devops/payment/archive/main.zip
    dest: /home/roboshop/
    remote_src: yes
    owner: roboshop
    group: roboshop

- name: Renaming the extracted folder to 'payment'.
  command: mv /home/roboshop/payment-main /home/roboshop/payment
  args:
    creates: /home/roboshop/payment

- name: Installing the Python application dependencies using pip3.6
  pip:
    requirements: /home/roboshop/payment/requirements.txt
    executable: pip3

- name: Updating the 'uid' in payment.ini using the dynamic user ID. # Using the dynamically gathered UID from roboshop_user_info
  lineinfile:
    path: /home/roboshop/payment/payment.ini
    regexp: '^uid='
    line: 'uid={{ roboshop_user_info.ansible_facts.getent_passwd.roboshop[2] }}'
    owner: roboshop
    group: roboshop
    mode: '0644'

- name: Updating 'gid' in payment.ini using the dynamic group ID # Using the dynamically gathered GID from roboshop_user_info
  lineinfile:
    path: /home/roboshop/payment/payment.ini
    regexp: '^gid='
    line: 'gid={{ roboshop_user_info.ansible_facts.getent_passwd.roboshop[3] }}'
    owner: roboshop
    group: roboshop
    mode: '0644'

- name: Creating and configuring the payment.service file.
  copy:
    content: |
      [Unit]
      Description=Payment Service

      [Service]
      User=root
      WorkingDirectory=/home/roboshop/payment

      Environment=CART_HOST=10.0.1.8
      Environment=CART_PORT=8080
      Environment=USER_HOST=10.0.1.167
      Environment=USER_PORT=8080
      Environment=AMQP_HOST=10.0.1.239
      Environment=AMQP_USER=roboshop
      Environment=AMQP_PASS=roboshop123

      ExecStart=/usr/local/bin/uwsgi --ini payment.ini
      ExecStop=/bin/kill -9 $MAINPID
      SyslogIdentifier=payment

      [Install]
      WantedBy=multi-user.target
    dest: /etc/systemd/system/payment.service
    mode: '0644'
# user is root here. I think it should be roboshop user.

- name: Reloading the systemd daemon.
  systemd:
    daemon_reload: yes

- name: Enabling and starting the payment service.
  systemd:
    name: payment
    state: started
    enabled: yes