---
# tasks file for rabbitmq
- name: Ensuring socat and logrotate are installed.
  dnf:
    name:
      - socat
      - logrotate
    state: present

- name: Importing RabbitMQ GPG signing keys.
  rpm_key:
    state: present
    key: "{{ item }}"
  loop:
    - https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc
    - https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/gpg.E495BB49CC4BBE5B.key
    - https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/gpg.9F4587F226208342.key

# not using copy module because, copy module writes static content to the target file.
- name: Creating RabbitMQ repository file.
  copy:
    content: |
      ##
      ## Zero dependency Erlang RPM
      ##

      [modern-erlang]
      name=modern-erlang-el9
      # uses a Cloudsmith mirror @ yum.novemberain.com.
      # Unlike Cloudsmith, it does not have any traffic quotas
      baseurl=https://yum1.novemberain.com/erlang/el/9/$basearch
              https://yum2.novemberain.com/erlang/el/9/$basearch
              https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/rpm/el/9/$basearch
      repo_gpgcheck=1
      enabled=1
      gpgkey=https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/gpg.E495BB49CC4BBE5B.key
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md

      [modern-erlang-noarch]
      name=modern-erlang-el9-noarch
      # uses a Cloudsmith mirror @ yum.novemberain.com.
      # Unlike Cloudsmith, it does not have any traffic quotas
      baseurl=https://yum1.novemberain.com/erlang/el/9/noarch
              https://yum2.novemberain.com/erlang/el/9/noarch
              https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/rpm/el/9/noarch
      repo_gpgcheck=1
      enabled=1
      gpgkey=https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/gpg.E495BB49CC4BBE5B.key
            https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md

      [modern-erlang-source]
      name=modern-erlang-el9-source
      # uses a Cloudsmith mirror @ yum.novemberain.com.
      # Unlike Cloudsmith, it does not have any traffic quotas
      baseurl=https://yum1.novemberain.com/erlang/el/9/SRPMS
              https://yum2.novemberain.com/erlang/el/9/SRPMS
              https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/rpm/el/9/SRPMS
      repo_gpgcheck=1
      enabled=1
      gpgkey=https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/gpg.E495BB49CC4BBE5B.key
            https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1


      ##
      ## RabbitMQ Server
      ##

      [rabbitmq-el9]
      name=rabbitmq-el9
      baseurl=https://yum2.novemberain.com/rabbitmq/el/9/$basearch
              https://yum1.novemberain.com/rabbitmq/el/9/$basearch
              https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/rpm/el/9/$basearch
      repo_gpgcheck=1
      enabled=1
      # Cloudsmith's repository key and RabbitMQ package signing key
      gpgkey=https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/gpg.9F4587F226208342.key
            https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md

      [rabbitmq-el9-noarch]
      name=rabbitmq-el9-noarch
      baseurl=https://yum2.novemberain.com/rabbitmq/el/9/noarch
              https://yum1.novemberain.com/rabbitmq/el/9/noarch
              https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/rpm/el/9/noarch
      repo_gpgcheck=1
      enabled=1
      # Cloudsmith's repository key and RabbitMQ package signing key
      gpgkey=https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/gpg.9F4587F226208342.key
            https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc
      gpgcheck=1
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md

      [rabbitmq-el9-source]
      name=rabbitmq-el9-source
      baseurl=https://yum2.novemberain.com/rabbitmq/el/9/SRPMS
              https://yum1.novemberain.com/rabbitmq/el/9/SRPMS
              https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/rpm/el/9/SRPMS
      repo_gpgcheck=1
      enabled=1
      gpgkey=https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/gpg.9F4587F226208342.key
      gpgcheck=0
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt
      metadata_expire=300
      pkg_gpgcheck=1
      autorefresh=1
      type=rpm-md
    dest: /etc/yum.repos.d/rabbitmq.repo
    mode: '0644'
# can use a file module as well.

#    - name: Creating RabbitMQ repository file.
#      # this task uses template module instead of copy
#      template:
#        src: rabbitmq.repo.j2  # Path to the new template file
#        dest: /etc/yum.repos.d/rabbitmq.repo
#        mode: '0644'

- name: Clean DNF metadata and cache
  command: dnf clean all

#    - name: Updating DNF repositories
#      dnf:
#        disable_excludes: all
#        state: latest
#        update_cache: yes

- name: Installing Erlang and RabbitMQ Server.
  dnf:
    name:
      - erlang
      - rabbitmq-server
    state: present

- name: Enabling and Starting the rabbitmq service.
  service:
    name: rabbitmq-server
    state: started
    enabled: yes

- name: Adding an user named 'roboshop' (IDEMPOTENT)
  community.rabbitmq.rabbitmq_user:
    user: roboshop
    password: roboshop123
    tags: administrator
    state: present

#    - name: Setting 'roboshop' user permissions on '/' vhost (IDEMPOTENT)
#      community.rabbitmq.rabbitmq_user:
#        user: roboshop
#        vhost: /
#        permissions: '.* .* .*'  # Configure: {conf, write, read}
#        state: present

- name: Setting 'roboshop' user permissions on '/' vhost (IDEMPOTENT)
  community.rabbitmq.rabbitmq_user:
    user: roboshop
    vhost: /
    # CORRECT DICTIONARY FORMAT
    configure_priv: '.*'
    write_priv: '.*'
    read_priv: '.*'
    state: present

- name: Enabling RabbitMQ management plugin. (IDEMPOTENT)
  community.rabbitmq.rabbitmq_plugin:
    names: rabbitmq_management
    state: enabled
    # This module is also better than the raw command
    
- name: Print successful deployment message
  debug:
    msg: "RabbitMQ deployed, configured, and management plugin enabled. Access console with 'roboshop'/'roboshop123'." #check this to not to use passwords.

#    - name: Adding an user named 'roboshop'
# skipping this task. this user account created using rabbitmq collection module.
#      command:
#        cmd: "rabbitmqctl add_user roboshop roboshop123"
#      args:
#        creates: /var/lib/rabbitmq/mnesia/{{ ansible_hostname }}-plugins-expand/schema-cache.json # non-ideal but functional check

#    - name: Setting 'roboshop' user tags to 'administrator'
# skipping this task. because tag was added in an earlier task. 
#      command:
#        cmd: "rabbitmqctl set_user_tags roboshop administrator"
#      changed_when: true # Treating as changed since checking is complex

#    - name: Setting 'roboshop' user permissions on '/' vhost
# skipping this task. a tas was implemented using a collection module.
#      command:
#        cmd: 'rabbitmqctl set_permissions -p / roboshop ".*" ".*" ".*"'
#      changed_when: true

#    - name: Enabling RabbitMQ management plugin.
# skipping this task. this task was implemented earlier using a module.
#      command:
#        cmd: "rabbitmq-plugins enable rabbitmq_management"
#      changed_when: true # Assume change for simplicity, the module is idempotent.