---
# handlers file for frontend
- name: start and enable nginx service
  service:
    name: nginx
    state: started
    enabled: true

- name: restart nginx
  service:
    name: nginx
    state: restarted