---
- name: Roboshop's Redis application deployment play.
  hosts: redis
  become: true

  handlers:
    - name: restarting redis
      systemd:
        name: redis6
        state: restarted
        daemon_reload: true
# changed the module from 'service' to 'systemd'.

  tasks:
    - name: Installing redis.
      dnf:
        name: redis6 
        # check whether I should use redis or redis6
        state: present
        update_cache: yes
# basically, instead of next task, a handler can be called here.

# gpg check is not required. as it's getting installed even without it.
# that's why using this as task, not as handler.
    - name: Ensuring redis service is started and enabled.
      systemd:
        name: redis6
        enabled: true
        state: started
        daemon_reload: true

# default content line in config file, is: bind 127.0.0.1 -::1

#    - name: Updating redis configuration to listen on a specified IP.
#      lineinfile:
#        path: /etc/redis6/redis6.conf
#        regexp: '^127.0.0.1'
#        line: 'bind 0.0.0.0'
#        state: present
#      notify: restarting redis
# earlier this failed so, i used the replace module. now I know why it failed.

#    - name: Change the config file with replace module.
#      replace:
#        path: /etc/redis6/redis6.conf
#        regexp: '^bind 127.0.0.1 -::1'
#        replace: 'bind 0.0.0.0'
#        backup: yes
#      notify: restarting redis

    - name: Change the config file with replace module.
      replace:
        path: /etc/redis6/redis6.conf
        regexp: '^bind 127.0.0.1'
        replace: 'bind 0.0.0.0'
        backup: yes
      notify: restarting redis

#    - name: Test with using replace module
#      replace:
#        path: /etc/redis6/redis6.conf
#        regexp: '^#?127.0.0.1$'
#        replace: '0.0.0.0'
#        backup: yes
#      notify: restarting redis

    - name: Printing a message.
      debug:
        msg: " Redis is configured. And logout and login to restart user." 

#
# reference:
#        regexp: '^#?127.0.0.1$'
#        replace: '0.0.0.0'
#
#        regexp: '^bind 127.0.0.1 -::1'
#        replace: 'bind 0.0.0.0'
