---
- name: Roboshop's User Application deployment play.
  hosts: user
  become: yes

  vars:
    redis_host_ip: "10.0.1.86"
    mongodb_host_ip: "10.0.1.39"

  tasks:
    - name: Installing NodeJS, Make, and gcc-c++.
      dnf:
        name:
          - nodejs
          - make
          - gcc-c++
        state: present

    - name: Creating an user named roboshop.
      user:
        name: roboshop
        state: present

    - name: Creating a directoy for the user content.
      file:
        dest: /home/roboshop/user
        state: directory
        owner: roboshop
        group: roboshop
        mode: '0700'
# '0700' permissions are being applied to the downloaded archive.
    
    - name: Download and Unarchive the archive file to the user directory.
      unarchive:
        src: https://github.com/rshaik4devops/user/archive/main.zip
        dest: /home/roboshop/
        remote_src: true
#        extra_opts:
#          - "--strip-components=1"
#        creates: /home/roboshop/user
# creates parameter, makes this task idempotent 
# first time using this approach, let's see.

#    - name: Renaming the directory 'user-main' to 'user'.
#      command:
#        cmd:  "mv user-main user"
#        args:
#          chdir: "/home/roboshop/"

    - name: Moving contents of 'user-main' directory to user.
      copy:
        src: /home/roboshop/user-main/
        dest: /home/roboshop/user/
        remote_src: yes

    - name: Removing the 'user-main' directory.
      file:
        path: /home/roboshop/user-main/
        state: absent
#
#      args:
#        creates: "/home/roboshop/user"
# this args, creates is best ansible practice. idempotency at this task leve.
    - name: Ensure a temporary directory exists with correct ownership for npm installation.
      file:
        path: /home/roboshop/.ansible/tmp
        state: directory
        owner: roboshop
        group: roboshop
        mode: '0700'

    - name: Installing nodejs application as roboshop user.
      become: yes
      become_user: roboshop
      npm:
        path: /home/roboshop/user

    - name: Copying the user application's service file to etc/systemd/system.
      copy:
        src: /home/roboshop/user/systemd.service
        dest: /etc/systemd/system/user.service
        remote_src: yes
        owner: root
        group: root
        mode: '0644'

    - name: Updating the application's configuration file with Redis IP.
      replace:
        path: "/etc/systemd/system/user.service"
        regexp: '^Environment=REDIS_HOST=REDIS_ENDPOINT'
        replace: 'Environment=REDIS_HOST={{ redis_host_ip }}'
        backup: yes
# for reference: Environment=REDIS_HOST=REDIS_ENDPOINT

    - name: Updating the application's configuration file with MongoDB Ip.
      replace:
        path: "/etc/systemd/system/user.service"
        regexp: '^Environment=MONGO_URL="mongodb://MONGO_ENDPOINT:27017/users"'
        replace: 'Environment=MONGO_URL=mongodb://{{ mongodb_host_ip }}:27017/user'
        backup: yes
# for reference: Environment=MONGO_URL="mongodb://MONGO_ENDPOINT:27017/users"

    - name: Reloading the systemd daemon service.
      systemd_service:
        daemon_reload: yes

    - name: Enabling and starting the user application.
      systemd_service:
        name: user
        state: started
        enabled: yes # try once enable and then start
