---
- name: Roboshop's Shipping application deployment Play.
  hosts: shipping
  become: yes

  tasks:
    - name: Installing Maven.
      dnf:
        name: maven
        state: present

    - name: Creating an user named roboshop.
      user:
        name: roboshop
        state: present

    - name: Downloading the shipping application's archive file from Github.
      get_url:
        url: https://github.com/rshaik4devops/shipping/archive/main.zip
        dest: /tmp/shipping.zip
        owner: roboshop
        group: roboshop
        mode: '0644'

    - name: Unarchiving the downloaded archive file.
      unarchive:
        src: /tmp/shipping.zip
        dest: /home/roboshop/
        remote_src: yes
        owner: roboshop
        group: roboshop

    - name: Renaming the extracted directory to 'shipping'.
      command:
        cmd: "mv /home/roboshop/shipping-main /home/roboshop/shipping"
        creates: /home/roboshop/shipping

    - name: Ensuring a temporary directory exists with correct ownership for npm installation.
      file:
        path: /home/roboshop/.ansible/tmp
        state: directory
        owner: roboshop
        group: roboshop
        mode: '0700'

    - name: Building shipping JAR file as roboshop user.
      become: yes
      become_user: roboshop
      command:
        cmd: mvn clean package
        chdir: /home/roboshop/shipping

    - name: Moving and renaming the JAR file to shipping.jar
      copy:
        src: /home/roboshop/shipping/target/shipping-1.0.jar
        dest: /home/roboshop/shipping/shipping.jar
        remote_src: yes
        owner: roboshop
        group: roboshop
        mode: '0644'

    - name: Copying the shipping systemd service file.
      copy:
        content: |
          [Unit]
          Description=Shipping Service
          After=network.target

          [Service]
          User=roboshop
          WorkingDirectory=/home/roboshop/shipping
          ExecStart=/usr/bin/java -jar shipping.jar
          SuccessStatus=143
          Environment=CART_ENDPOINT=10.0.1.8:8080
          Environment=DB_HOST=10.0.1.39

          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/shipping.service
        owner: root
        group: root
        mode: '0644'
      # check thisto update the cart endpoint and db host IPs.
      # also, check to use handlers for the following tasks.
      # FYI, the following to be updated:  
      # Environment=CART_ENDPOINT=CARTENDPOINT:8080
      # Environment=DB_HOST=DBHOST

    - name: Reloading systemd daemon.
      systemd:
        daemon_reload: yes

    - name: Enabling and starting the shipping service.
      systemd:
        name: shipping
        enabled: yes
        state: started
