---
# handlers file for mongodb
- name: start mongod service
  systemd:
    name: mongod
    state: started
    enabled: true

- name: restart mongod service
  systemd:
    name: mongod
    state: restarted
    enabled: true