---
- name: Roboshop's Catalogue application deployment play.
  hosts: catalogue
  become: true

  tasks:
    - name: Installing nodejs, make, and gcc-c++.
      dnf:
        name:
          - nodejs
          - make
          - gcc-c++
        state: present

    - name: Creating an user named roboshop.
      user:
        name: roboshop
        state: present

    - name: Downloading and Unarchiving a github archive file.
      unarchive:
        src: https://github.com/rshaik4devops/catalogue/archive/main.zip
        dest: /home/roboshop/
        remote_src: true
        owner: roboshop
        group: roboshop
        creates: "/home/roboshop/catalogue-main" 
# the option creates gives this task idempotency.
# the task runs only if the specified file or path does not exist.

    - name: Renaming the 'catalogue-main' directory as 'catalogue'.
      command:
        cmd:  "mv catalogue-main catalogue"
        chdir: "/home/roboshop/" 
        # check this, whether you can use synchronize
        # chdir changes the directory to specified path, in which cmd to be executed.
      args:
        creates: "/home/roboshop/catalogue" 
        # args parameter provides conditional logic for running a task only if a certain file or state is present or absent.
        # Before running the mv command, Ansible checks if the file or directory specified in creates already exists.
        # if doesn't exit, it mv command executes. if exists, task will be skipped (preventing task failure)
        # check this, on what happens if the archive is updated.
        # this args.creates is best ansible practice as it ensures idempotency at this task level.

# probably I can skip the following task: (I need to check)
#    - name: Ensure roboshop's Ansible temporary directory exists with correct ownership.
#      file:
#        path: /home/roboshop/.ansible/tmp
#        state: directory
#        owner: roboshop
#        group: roboshop
#        mode: '0700'

    - name: Installing nodejs application as roboshop user.
      # to execute npm install using the 'package.json'
      become: true
      become_user: roboshop
      npm:
        path: /home/roboshop/catalogue

# can use file module and copy a file instead of creating like this:
    - name: making the Service configuration file with copy module.
      copy:
        content:  |
          [Unit]
          Description = Catalogue Service for roboshop
          [Service]
          User=roboshop
          Environment=MONGO=true
          Environment=MONGO_URL=mongodb:27017/catalogue
          ExecStart=/bin/node /home/roboshop/catalogue/server.js
          SyslogIdentifier=catalogue
          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/catalogue.service
        owner: root
        group: root
        mode: '0644'
# Environment=MONGO_URL="mongodb://ec2-54-242-24-141.compute-1.amazonaws.com:27017/catalogue"
# try 1: Environment=MONGO_URL="mongodb://172.31.21.91:27017/catalogue"
# this worked: Environment=MONGO_URL="mongodb://172.31.21.91:27017"

    - name: Starting and enabling the catalogue service.
      systemd_service:
        name: catalogue
        state: started
        enabled: true
        daemon_reload: true
