---
# tasks file for cart
- name: Installing NodeJS, Make, and gcc-c++.
  dnf:
    name:
      - nodejs
      - make
      - gcc-c++
    state: present

- name: Creating an user named roboshop.
  user:
    name: roboshop
    state: present

- name: Download and Unarchive the archive file to the user directory.
  unarchive:
    src: https://github.com/rshaik4devops/cart/archive/main.zip
    dest: /home/roboshop/
    remote_src: true

- name: Creating a directoy for the cart application content.
  file:
    path: /home/roboshop/cart
    state: directory
    owner: roboshop
    group: roboshop
    mode: '0700'

- name: Moving contents of 'cart-main' directory to cart.
  copy:
    src: /home/roboshop/cart-main/
    dest: /home/roboshop/cart/
    remote_src: yes

- name: Removing the 'cart-main' directory.
  file:
    path: /home/roboshop/cart-main/
    state: absent

- name: Ensuring a temporary directory exists with correct ownership for npm installation.
  file:
    path: /home/roboshop/.ansible/tmp
    state: directory
    owner: roboshop
    group: roboshop
    mode: '0700'

- name: Installing cart nodejs application as roboshop user.
  become: yes
  become_user: roboshop
  npm:
    path: /home/roboshop/cart/

- name: Copying the user application's service file to 'etc/systemd/system'.
  copy:
    src: /home/roboshop/cart/systemd.service
    dest: /etc/systemd/system/cart.service
    remote_src: yes
    owner: root
    group: root
    mode: '0644'

- name: Updating the Cart application's configuration file with 'Redis IP'.
  replace:
    path: "/etc/systemd/system/cart.service"
    regexp: '^Environment=REDIS_HOST=REDIS_ENDPOINT'
    replace: 'Environment=REDIS_HOST={{ redis_host_ip }}'
    backup: yes
# for reference: Environment=REDIS_HOST=REDIS_ENDPOINT

- name: Updating the application's configuration file with 'Catalogue Ip'.
  replace:
    path: "/etc/systemd/system/cart.service"
    regexp: '^Environment=CATALOGUE_HOST=CATALOGUE_ENDPOINT'
    replace: 'Environment=CATALOGUE_HOST={{ catalogue_host_ip }}'
    backup: yes
# for reference: Environment=CATALOGUE_HOST=CATALOGUE_ENDPOINT

- name: Reloading the systemd daemon service.
  systemd_service:
    daemon_reload: yes

- name: Enabling and starting the cart application.
  systemd_service:
    name: cart
    enabled: yes
    state: started