---
# tasks file for mongodb
- name: 1. Create MongoDB repository file. # yum_repository module is available
  copy:
    content: |
      [mongodb-org-{{ mongodb_version }}]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2023/mongodb-org/{{ mongodb_version }}/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-{{ mongodb_version }}.asc
    dest: /etc/yum.repos.d/mongodb-org-{{ mongodb_version }}.repo
    owner: root
    mode: '0644'

- name: 2. Install MongoDB Server and the OpenSSL 3 Shell.
  dnf:
    name:
      - mongodb-org
      - mongodb-mongosh-shared-openssl3.x86_64
    state: present
    update_cache: yes
  notify: start mongod service

# earlier, I faced hiccups with the bind ip. replace module worked fine than lineinfile.
- name: 3. Update MongoDB bindIp in configuration file.
  replace:
    path: /etc/mongod.conf
    regexp: '^#?bindIp: 127\.0\.0\.1$' #bind ip was the issue earlier.
    replace: 'bindIp: 0.0.0.0'
    backup: yes
  notify: restart mongod service

- name: 4. Ensure MongoDB service is running before loading schema.
  meta: flush_handlers

- name: 5. Download and Unarchive schema content.
  unarchive:
    src: "{{ schema_repo_url }}"
    dest: /tmp
    remote_src: yes

- name: 6. Checking if catalogue data is already loaded or not.
  stat:
    path: "{{ flag_path_catalogue }}"
  register: catalogue_data_flag
# created a flag if the path exist.

- name: 7. Load catalogue schema from catalogue.js.
  shell:
    cmd: "mongosh < catalogue.js"
    chdir: "{{ schema_extract_dir }}"
    executable: /bin/bash
  register: data_loaded_catalogue
  when: not catalogue_data_flag.stat.exists
# created another flag, if the previous path doesn't exit.

- name: 8. Create flag file for catalogue data.
  file:
    path: "{{ flag_path_catalogue }}"
    state: touch
#      when: data_loaded_catalogue.changed is defined and data_loaded_catalogue.rc == 0 (failed)
#      when: data_loaded_catalogue is defined and data_loaded_catalogue.rc == 0 (failed)
  when: data_loaded_catalogue is defined and data_loaded_catalogue.rc is defined and data_loaded_catalogue.rc == 0

- name: 9. Check if User data is already loaded.
  stat:
    path: "{{ flag_path_user }}"
  register: user_data_flag

- name: 10. Load user schema from users.js.
  shell:
    cmd: "mongosh < users.js"
    chdir: "{{ schema_extract_dir }}"
    executable: /bin/bash
  register: data_loaded_user
  when: not user_data_flag.stat.exists

- name: 11. Create flag file for user data.
  file:
    path: "{{ flag_path_user }}"
    state: touch
#      when: data_loaded_user.changed is defined and data_loaded_user.rc == 0 (failed)
#      when: data_loaded_user is defined and data_loaded_user.rc == 0 (failed)
  when: data_loaded_user is defined and data_loaded_user.rc is defined and data_loaded_user.rc == 0

- name: 12. Clean up downloaded archive and extracted folder.
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/mongodb.zip
    - "{{ schema_extract_dir }}"