---
# tasks file for frontend
- name: Installing Nginx.
  dnf:
    name: nginx
    state: present
  notify: start and enable nginx service

- name: Ensuring html directory is clean.
  file:
    path: /usr/share/nginx/html
    state: absent # this always executing.
# Note: this task is alwasys executing. fine tune later.

- name: Creating an empty html directory for apllication content.
  file:
    path: /usr/share/nginx/html/
    state: directory
    mode: '0755'

#    - name: Downloading Frontend application archive file from Github.
#      get_url:
#        url: https://github.com/rshaik4devops/frontend/archive/main.zip
#        dest: /tmp/frontend.zip
#        mode: '0644'

- name: Downloading and Unarchiving an archive file from 'Github' to the 'html' directory.
  unarchive:
    src: https://github.com/rshaik4devops/frontend/archive/main.zip
    dest: /usr/share/nginx/html/
    remote_src: yes
#       mode: '0644' # not the correct place.

#    - name: Copying extracted content to the html directory.
#      command: "cp -r /usr/share/nginx/html/frontend-main/* /usr/share/nginx/html/"
#
#    - name: Copying content of static folder to html directory.
#      command: "cp -r /usr/share/nginx/html/static/* /usr/share/nginx/html/"

- name: Moving contents of 'static' directory to html root.
  copy:
    src: /usr/share/nginx/html/frontend-main/static/
    dest: /usr/share/nginx/html/
    remote_src: yes

- name: Removing the static directory.
  file:
    path: /usr/share/nginx/html/frontend-main/static/
    state: absent

- name: Moving the contents of 'extracted directory' to html root.
  copy:
    src: /usr/share/nginx/html/frontend-main/
    dest: /usr/share/nginx/html/
    remote_src: yes

- name: Removing the extracted directory as it's empty.
  file:
    path: /usr/share/nginx/html/frontend-main/
    state: absent

#    - name: Copying Nginx's configuration file from files folder to etc/nginx/default.d/
#      copy:
#        src: files/roboshop.conf
#        dest: /etc/nginx/default.d/roboshop.conf
#        mode: '0644'
#      notify: restart nginx

- name: Copy Nginx configuration using content argument.
  copy:
    content: |
          proxy_http_version 1.1;
          location /images/ {
              expires 5s;
              root   /usr/share/nginx/html;
              try_files $uri /images/placeholder.jpg;
          }

          #error_page  403              /404.html;

          # redirect server error pages to the static page /50x.html
          #
          error_page   500 502 503 504  /50x.html;

          location /api/catalogue/ { proxy_pass http://catalogue:8080/; }

          location /api/user/ { proxy_pass http://user:8080/; }

          location /api/cart/ { proxy_pass http://cart:8080/; }

          location /api/shipping/ { proxy_pass http://shipping:8080/; }

          location /api/payment/ { proxy_pass http://payment:8080/; }

          location /nginx_status {
              stub_status on;
              access_log off;
          }
    dest: /etc/nginx/default.d/roboshop.conf
    mode: '0644'
  notify: restart nginx